body {
    margin: 0;
    padding: 0; 
    background: rgba(47, 180, 255, 0.18);
}
.navbar {
    position: relative;
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    background-color: #323741;
    padding: 0 24px; 
}
.btn-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-right:1%;
    margin-left:20%;
}
.btn-consultarItem{
    background-color: transparent;
    color:white;
    font-size: 18px;
    font-weight: 100;
    font-family:'Actor', sans-serif;
    cursor: pointer;
    border: none; 
}
.btn-consultarItem:hover{
    color:grey;
    border-bottom: 3px solid white ; 
    }
.btn-consultarTop{
    margin:20px;
    justify-content: center;
    background-color: transparent;
    color:white;
    font-size: 18px;
    font-weight: 100;
    font-family:'Actor', sans-serif;
    cursor: pointer;
    border: none;  
    border-bottom: 3px solid white ; 
}
.btn-consultarTop:hover{
    color:grey;
    background-color: transparent;
}

.btn-generarPDF{
    margin:0px;
    justify-content: center;
    background-color: transparent;
    color:white;
    font-size: 18px;
    font-weight: 100;
    font-family:'Actor', sans-serif;
    cursor: pointer;
    border: none;  
}
.btn-generarPDF:hover{
    color:grey;
    border-bottom: 3px solid white; 
    background-color: transparent;
}
.btn-exit{
    background-color: white;
    color:black;
    font-size: 18px;
    font-weight: 100;
    font-family:'Actor', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    margin-left: 25%;
    padding: 8px 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(255, 255, 255, 0.4); 
}
.btn-exit:hover,
.btn-exit:active{
    color:white;
    background-color: transparent;
    transition: all 1s ease;
}
.RegisterContentUser >*{
    font-family: 'Actor', sans-serif;
    font-size: 150%;
    margin: 10px;
    display: flex;
    flex-direction: row; 
    justify-content: left;
    text-align: center;
    margin-left: 20px;
    margin-top: 40px;
   }

.contentUser h1{
    font-family: 'Actor', sans-serif;  
    text-align: center;
    margin-bottom: 1%;
    margin-left: 30%;
    margin-top: 3%;
    
}
.contentUser {
   margin-top: 1%;
}
.squareUser {
    position: absolute;
    width: 650px;
    height: 600px;
    background: rgba(0, 159, 249, 0.94);
    z-index: -1;
  }
  .square2User {
    float: left;
    position: absolute;
    width: 600px;
    height: 60%;
    background:  rgba(132, 199, 237, 0.369);
    z-index: -1;
    margin-left: 780px;
    margin-top: 1%;
    border-radius: 20px;
    overflow-y: scroll;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(255, 255, 255, 0.4);
  }
.image1{
    padding: 5px;
    float: left;
    width: 670px;
    height: 700px;
    z-index: 1;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
}

.containerImgUser h1{
    color:white;
    font-size: 300%;
    float: left;
    position: absolute;
    font-family: 'jura', sans-serif;  
    margin-bottom: 50%;
    margin-left: 15%;
    margin-top: 15%;
}

.containerImgUser p{
    color:white;
    float: left;
    position: absolute;
    font-family: 'Actor', sans-serif;  
    margin-bottom: 30%px;
    margin-left: 9%;
    margin-top: 20%;
    text-align: center;
    font-weight: 30%;
    font-size: 120%;
}

.col1ConsultarTOPValoracion select {
    width: 40%;
    height: 30px;
    color:white;
    border-radius: 20px;
    border: none;
    background-color: #323741;
    font-size: 15px;
    font-weight: 100;
    font-family:'Actor', sans-serif;
    margin-left: 2%;
}
.col2ConsultarTOPCategoria select {
    width: 40%;
    height: 30px;
    color:white;
    border-radius: 20px;
    border: none;
    background-color: #323741;
    font-size: 15px;
    font-weight: 100;
    font-family:'Actor', sans-serif;
    margin-left: 2%;
}
.btn-valoracionRespuestas{
    background-color: #323741;
    color: white;
    font-size: 15px;
    font-weight: 100;
    font-family:'Actor', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: all 1s ease;
    padding: 8px 12px;
    margin-top: 2%;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(255, 255, 255, 0.4);
}
.btn-valoracionRespuestas:hover{
    background-color: white;
    color: black;
}
.valoracionRespuestas{
    margin-left: 40%;
    margin-bottom: 5%; 
}
.btn-valoracionEjemplos{
    background-color: #323741;
    color: white;
    font-size: 15px;
    font-weight: 100;
    font-family:'Actor', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: all 1s ease;
    padding: 8px 12px;
    margin-top: 2%;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(255, 255, 255, 0.4);
}
.btn-valoracionEjemplos:hover{
    background-color: white;
    color: black;
}
.valoracionEjemplos{
    margin-left: 40%;
    margin-bottom: 5%;
    
}

.btn-valoracionRespuestasEjemplos{
    background-color: #323741;
    color: white;
    font-size: 15px;
    font-weight: 100;
    font-family:'Actor', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: all 1s ease;
    padding: 8px 12px;
    margin-top: 2%;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(255, 255, 255, 0.4);
}
.btn-valoracionRespuestasEjemplos:hover{
    background-color: white;
    color: black;
}
.valoracionRespuestasEjemplos{
    margin-left: 40%;
    margin-bottom: 5%;
    
}

.btnsValoracion{
    margin-right: 30%;
    justify-content: center;
    flex-direction: column; 
}
.btn-analisisSentimientos{
    margin-right:2%;
    justify-content: center;
    background-color: transparent;
    color:white;
    font-size: 18px;
    font-weight: 100;
    font-family:'Actor', sans-serif;
    cursor: pointer;
    border: none; 

}
.btn-analisisSentimientos:hover{
    color:grey;
    border-bottom: 3px solid white; 
    background-color: transparent;
}
